* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #faf7fd;
    font-family: 'Poppins', sans-serif;
}

.profile img {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    border: 2px solid #bb99dd;
    border-radius: 200px;
    padding: 5px;
}

/* .profile img:hover {
    cursor: pointer;
} */

p {
    padding: 15px 0 30px;
    color: #bb99dd;
    text-align: center;
}

.link-tree {
    margin: 0 auto;
}

.link-tree a {
    display: block;
    min-width: 300px;
    width: 25vw;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #bb99dd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    color: #bb99dd;
    font-weight: bold;
    text-decoration: none;
    transition: .5s;
}

.link-tree a:hover{
    background-color: #bb99dd;
    color: #faf7fd;
}

.social {
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.social a {
    height: 20px;
}

.social a img {
    width: 25px;
    height: 25px;
    transition: .3s;
}

.social a img:hover {
    width: 30px;
    height: 30px;
}